*{
  font-family: Arial, Sans-Serif;
}
h1{
  text-align: center;
}
h2{
  color: #fff;
}
p{
  color:#b2b2b2;
}
span {
  color: #febe01;
}

div {
  padding: 20px;
  background-color: #111;
  color: #b2b2b2;
  border-radius: 4px;
  padding: 30px;
  margin: 20px;
}
a{
  
  background-color: #febe01;
  color: #332200;
  padding: 10px;
}
